name: Node.js CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main, staging]

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    env:
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
      SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}

    strategy:
      matrix:
        node-version: [14.x, 16.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: mskelton/setup-yarn@v1
        with:
          ref: ${{ github.head_ref }}
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: yarn
      - name: Linting...
        run: yarn lint
      - name: Building...
        run: yarn build
      - name: Running unit tests...
        run: yarn test

  wait_for_vercel:
    name: Wait for vercel
    runs-on: ubuntu-latest
    outputs:
      preview_url: ${{ steps.waitForVercelPreviewDeployment.outputs.url }}
    steps:
      - name: Wait for Vercel preview deployment to be ready
        uses: patrickedqvist/wait-for-vercel-preview@v1.2.0
        id: waitForVercelPreviewDeployment
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          max_timeout: 600

  end_to_end_tests:
    name: End-to-end tests
    needs: wait_for_vercel
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - uses: microsoft/playwright-github-action@v1
      - run: npm install --include=dev
      - run: echo Preview URL - ${{ needs.wait_for_vercel.outputs.preview_url }}
      - run: npm run playwright
        env:
          VERCEL_URL: ${{ needs.wait_for_vercel.outputs.preview_url }}
          VERCEL_ENV: preview
          PLAYWRIGHT_LOGIN_USERNAME: dan@dan.com
          PLAYWRIGHT_LOGIN_PASSWORD: password
